#import autosub

		<div class="form-group">
			<label for="Addic7ed" class="col-sm-2 control-label">Addic7ed <a data-placement="bottom" data-toggle="tooltip" data-original-title="Select which languages you want to download using Addic7ed. Select 'None' if you don't want to use this website. Default is None."><span class="glyphicon glyphicon-info-sign"></span></a></label>
			<div class="col-sm-10">
			<select id="addic7edlang" name="addic7edlang" class="form-control enableraddic7ed">
				<option value="Both" #if $autosub.ADDIC7EDLANG == "Both" then 'selected="selected"' else ""#>Both</option>
				<option value="Dutch" #if $autosub.ADDIC7EDLANG == "Dutch" then 'selected="selected"' else ""#>Dutch</option>
				<option value="English" #if $autosub.ADDIC7EDLANG == "English" then 'selected="selected"' else ""#>English</option>
				<option value="None" #if $autosub.ADDIC7EDLANG == "None" then 'selected="selected"' else ""#>None</option>
			</select>
			</div>
		</div>
			
		<div id="content_addic7edlang">
			<div class="form-group">
				<label for="Addic7edUsername" class="col-sm-2 control-label">Username <a data-placement="bottom" data-toggle="tooltip" data-original-title="What is your username for addic7ed?"><span class="glyphicon glyphicon-info-sign"></span></a></label>
				<div class="col-sm-10">
				<input type="text" class="form-control" name="addic7eduser" id="addic7eduser" value="$autosub.ADDIC7EDUSER" placeholder="">
				</div>
			</div>
			
			<div class="form-group">
				<label for="Addic7edPassword" class="col-sm-2 control-label">Password <a data-placement="bottom" data-toggle="tooltip" data-original-title="What is your password for addic7ed?"><span class="glyphicon glyphicon-info-sign"></span></a></label>
				<div class="col-sm-10">
				<input type="password" class="form-control" name="addic7edpasswd" id="addic7edpasswd" value="$autosub.ADDIC7EDPASSWD" placeholder="">
				</div>
			</div>
			
			<div align="right">
					<span id="testAddic7ed-result">Click below to test the Addic7ed login.</span><br>
					<input type="button" class="btn btn-default" value="Test Addic7ed" id="testAddic7ed" /><br><br>
			</div>
		</div>
		
		<div class="form-group">
			<label for="Podnapisi" class="col-sm-2 control-label">Podnapisi <a data-placement="bottom" data-toggle="tooltip" data-original-title="Select which languages you want to download using Podnapisi. Select 'None' if you don't want to use this website. Default is Both."><span class="glyphicon glyphicon-info-sign"></span></a></label>
			<div class="col-sm-10">
			<select name="podnapisilang" class="form-control">
				<option value="Both" #if $autosub.PODNAPISILANG == "Both" then 'selected="selected"' else ""#>Both</option>
				<option value="Dutch" #if $autosub.PODNAPISILANG == "Dutch" then 'selected="selected"' else ""#>Dutch</option>
				<option value="English" #if $autosub.PODNAPISILANG == "English" then 'selected="selected"' else ""#>English</option>
				<option value="None" #if $autosub.PODNAPISILANG == "None" then 'selected="selected"' else ""#>None</option>
			</select>
			</div>
		</div>
		
		<div class="form-group">
			<label for="Subscene" class="col-sm-2 control-label">SubScene <a data-placement="bottom" data-toggle="tooltip" data-original-title="Select which languages you want to download using SubScene. Select 'None' if you don't want to use this website. Default is Both."><span class="glyphicon glyphicon-info-sign"></span></a></label>
			<div class="col-sm-10">
			<select name="subscenelang" class="form-control">
				<option value="Both" #if $autosub.SUBSCENELANG == "Both" then 'selected="selected"' else ""#>Both</option>
				<option value="Dutch" #if $autosub.SUBSCENELANG == "Dutch" then 'selected="selected"' else ""#>Dutch</option>
				<option value="English" #if $autosub.SUBSCENELANG == "English" then 'selected="selected"' else ""#>English</option>
				<option value="None" #if $autosub.SUBSCENELANG == "None" then 'selected="selected"' else ""#>None</option>
			</select>
			</div>
		</div>
		
		<div class="form-group">
			<label for="Undertexter" class="col-sm-2 control-label">UnderTexter <a data-placement="bottom" data-toggle="tooltip" data-original-title="Select which languages you want to download using Undertexter. Select 'None' if you don't want to use this website. Default is Both."><span class="glyphicon glyphicon-info-sign"></span></a></label>
			<div class="col-sm-10">
			<select name="undertexterlang" class="form-control">
				<option value="Both" #if $autosub.UNDERTEXTERLANG == "Both" then 'selected="selected"' else ""#>Both</option>
				<option value="Dutch" #if $autosub.UNDERTEXTERLANG == "Dutch" then 'selected="selected"' else ""#>Dutch</option>
				<option value="English" #if $autosub.UNDERTEXTERLANG == "English" then 'selected="selected"' else ""#>English</option>
				<option value="None" #if $autosub.UNDERTEXTERLANG == "None" then 'selected="selected"' else ""#>None</option>
			</select>
			</div>
		</div>
		
		<div class="form-group">
			<label for="OpenSubtitles" class="col-sm-2 control-label">OpenSubtitles <a data-placement="bottom" data-toggle="tooltip" data-original-title="Select which languages you want to download using OpenSubtitles. Select 'None' if you don't want to use this website. Default is Both."><span class="glyphicon glyphicon-info-sign"></span></a></label>
			<div class="col-sm-10">
			<select id="opensubtitleslang" name="opensubtitleslang" class="form-control enablerOpenSubtitles">
				<option value="Both" #if $autosub.OPENSUBTITLESLANG == "Both" then 'selected="selected"' else ""#>Both</option>
				<option value="Dutch" #if $autosub.OPENSUBTITLESLANG == "Dutch" then 'selected="selected"' else ""#>Dutch</option>
				<option value="English" #if $autosub.OPENSUBTITLESLANG == "English" then 'selected="selected"' else ""#>English</option>
				<option value="None" #if $autosub.OPENSUBTITLESLANG == "None" then 'selected="selected"' else ""#>None</option>
			</select>
			</div>
		</div>
		
		<div id="content_opensubtitleslang">
			<div class="form-group">
				<label for="OpenSubtitlesUsername" class="col-sm-2 control-label">Username <a data-placement="bottom" data-toggle="tooltip" data-original-title="What is your username for OpenSubtitles?"><span class="glyphicon glyphicon-info-sign"></span></a></label>
				<div class="col-sm-10">
				<input type="text" class="form-control" name="opensubtitlesuser" id="opensubtitlesuser" value="$autosub.OPENSUBTITLESUSER" placeholder="">
				</div>
			</div>
			
			<div class="form-group">
				<label for="OpenSubtitlesPassword" class="col-sm-2 control-label">Password <a data-placement="bottom" data-toggle="tooltip" data-original-title="What is your password for OpenSubtitles?"><span class="glyphicon glyphicon-info-sign"></span></a></label>
				<div class="col-sm-10">
				<input type="password" class="form-control" name="opensubtitlespasswd" id="opensubtitlespasswd" value="$autosub.OPENSUBTITLESPASSWD" placeholder="">
				</div>
			</div>
			
			<div align="right">
					<span id="testOpenSubtitles-result">Click below to test the OpenSubtitles login.</span><br>
					<input type="button" class="btn btn-default" value="Test OpenSubtitles" id="testOpenSubtitles" /><br><br>
			</div>
		</div>